* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.fixed-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    height: calc(100vh - 90px);
    background: #e6f0ff;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 1.4rem;
}

.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero-wrap .info {
    width: 50.36%;
}

.hero-wrap .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero-wrap .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.1875;
}

.hero-wrap .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero-wrap .hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-wrap .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Client */

.client {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.client .row-desc {
    margin-top: 23px;
}

.client .images {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
}

.client .images a {
    padding: 0 42px;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.client .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Guides */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.guides .sub-title::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .content .desc {
    color: #5a6473;
    width: 459px;
    max-width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin: 20px auto 0;
}

.guides .list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-items {
    margin: 0 70px;
    text-align: center;
}

.guides-items .title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 26px;
    margin-bottom: 10px;
}

.guides-items .link {
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guides-items .arrow {
    margin-left: 6px;
}

.guides-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides-cta .btn {
    min-width: 170px;
}

/* Featured */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.featured .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .items {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.featured .items .thumbnails {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .items .body {
    padding: 17px 20px 24px;
}

.featured .items .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.featured .items .desc {
    --line-clamp: 3;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 22px;
    line-height: 1.5;
}

.featured .items .info {
    display: flex;
    align-items: center;
}

.featured .info .label {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-left: 8px;
}

.featured .info .icon {
    margin-left: 23px;
}
.featured .info .icon:first-child {
    margin-left: 0;
}

/* Stats */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block {
    position: relative;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 0px 12px 12px;
    width: 239px;
    padding: 45px 22px 40px;
    background-color: #fff;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats .stats-trend .icon {
    margin-left: auto;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats .stats-trend .seperate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .stats-trend .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .stats-trend .avatar-group {
    display: flex;
}

.stats .stats-trend .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}

.stats .stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats .info .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.285;
    width: 269px;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
}

.stats .info .desc {
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}
.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subscription */

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 90px;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
    min-width: 151px;
    background: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer .content {
    padding: 50px 0 58px;
}

.footer .row-top {
    margin-top: 55px;
    gap: 185px;
}

.footer .row {
    display: flex;
}

.footer .column {
    position: relative;
}

.footer .lists,
.footer .desc {
    margin-top: 42px;
}

.footer .items {
    margin-top: 18px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .items a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    line-height: 1.75;
    white-space: normal;
}

.footer .social {
    position: absolute;
    margin-top: 40px;
    bottom: 0;
}

.footer .row-bottom {
    margin-top: 81px;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
